.Heading-imag{
  width:500px;
  height:300px;
}

.Background-Image-1 {
  background-image: url("hafezip6020.github.io/project/images/170014-test-barcelona-sebastian-vettel.jpg");
  background-size: cover;
}

.Background-Image-2 {
  background-image: url("https://hafezip6020.github.io/project/images/oldcar.jpg");
  background-size: cover;
}

.image3 {max-width:100%}


.backdrop{
  background-color: #4f5b66;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.heading{
  font-size: 36px;
  text-align: center;
}

.column-2 {
    float:left ;
    padding: 10px;
    width: 70%;
}

/* Left and right column */
.column-2.side {
    width: 30%;
    float:right ;
}


